body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 23, 46);
    font-family: Arial, sans-serif;
}


input{
    margin: 20px 0px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: bisque;
    border: 1px solid black;
   
}

label{
    font-size: 30px;
    color: yellow;
}

h1{
    color: rgb(32, 154, 202);
}


button{
    width: 200px;
    height: 30px;
    background-color: rgb(35, 181, 239);
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin: 50px 100px;
    color: purple;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

button:hover{
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

 h3{
    color: red;
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
}

 
.result{
    color: red;
    margin: 0 200px;
    font-size: 1.2rem;
}